.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dac4dc;
}

.tab-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  height: 80%;
}

.mat-tab-body-wrapper {
  flex: 1; /* Ensure each tab body takes up remaining space */
}
