.container {
  border: 1px solid grey;
  background-color: white;
}

.new-todo-card {
  margin: 10px 0;
}

.new-todo-form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.btn-margin-bottom {
  margin-bottom: 15px;
  margin-right: 10px;
}
