<mat-spinner *ngIf="isLoading; else todoList"></mat-spinner>
<ng-template #todoList>

  <button mat-raised-button
          color="primary"
          class="btn-add-todo"
          (click)="addNewTodo()">Add New Todo</button>

  <div *ngIf="addingNewTodo" >
    <mat-card class="new-todo-card">
      <mat-card-content>
        <form #newTodoForm="ngForm"
              class="new-todo-form"
              (ngSubmit)="saveNewTodo()">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput name="title" [(ngModel)]="newTodo.title" required>
          </mat-form-field>
          <mat-checkbox name="completed" [(ngModel)]="newTodo.completed" required>
            Completed
          </mat-checkbox>

          <button mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="!newTodo.title">Save</button>
          <button mat-button
                  type="button"
                  (click)="cancelAddNewTodo()">Cancel</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="todos.length > 0" class="container">
    <mat-selection-list *ngIf="todos.length > 0" [(ngModel)]="selectedTodos">
      <mat-list-option *ngFor="let todo of todos" [value]="todo" [selected]="todo.completed">
        {{ todo.title }}
      </mat-list-option>
    </mat-selection-list>

  </div>
  <div *ngIf="todos.length === 0">
    <p>No todos available.</p>
  </div>
</ng-template>

