<mat-spinner *ngIf="isLoading; else postList"></mat-spinner>
<ng-template #postList>
  <div class="posts-container" *ngIf="posts.length > 0">
    <mat-card *ngFor="let post of posts" class="posts-card">
      <mat-card-header>
        <mat-card-title>Title: {{ post.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ post.body }}</p>

        <div *ngIf="post.showComments && post.comments && post.comments.length > 0">
            <div class="post-comment" *ngFor="let comment of post.comments">
              <p>Name: {{ comment?.name }}</p>
              <p>Email: {{ comment?.email }}</p>
              <p>Body: {{ comment?.body }}</p>
            </div>
        </div>
      </mat-card-content>

      <mat-card-actions>

        <button mat-raised-button
                color="primary"
                (click)="loadComments(post)">{{ post.showComments ? 'Hide comments' : 'Show comments' }}
        </button>
      </mat-card-actions>
    </mat-card>

  </div>

  <div *ngIf="posts.length === 0">
    <p>No todos available.</p>
  </div>
</ng-template>

