.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #dac4dc;

  .sidenav-content {
    padding: 10px 0;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .sidenav {
    padding: 20px;
  }

  .active {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.spacer {
  flex: 1 1 auto;
}
